.navs {
  position: absolute;
  right: 0;
  position: fixed;
  display: flex;
  width: Fixed (1, 200px) px;
  height: Hug (88px) px;
  left: 240px;
  padding: 24px 32px 24px 32px;
  gap: 16px;
  z-index: 9;
  border-bottom: 1px solid rgba(203, 213, 225, 1);
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  .items {
    display: flex;
    justify-content: space-between;

    .greetings {
      display: flex;
      flex-direction: column;
      margin-left: 4rem;
      width: 295px;
      height: 40px;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 600;
      line-height: 21.86px;
      text-align: left;
      color: rgba(71, 85, 105, 1);
      small {
        font-family: Manrope;
        font-size: 10px;
        font-weight: 400;
        line-height: 13.66px;
        text-align: left;
      }
    }

    .icons {
      display: flex;

      .search {
        position: relative;
        input {
          width: 389px;
          height: 40px;
          padding: 8px 3rem;
          gap: 8px;
          outline: none;
          border-radius: 8px;
          border: 1px solid rgba(241, 245, 249, 1);
          font-family: Manrope;
          font-size: 19px;
          font-weight: 400;
          line-height: 19.12px;
          text-align: left;
          align-items: center;
          color: rgba(100, 116, 139, 1);
          background: color-mix(in srgb, #000, transparent 90%);

          & ::placeholder {
            font-size: 14px;
          }
        }
        .icon {
          position: absolute;
          width: 40px;
          height: 40px;
          top: 1px;
          padding: 7px;
          left: 2px;
        }
      }
    }
    .item {
      display: flex;
      text-align: center;
      align-items: center;
      width: 120px;
      height: 40px;
      gap: 16px;
      margin-left: 9rem;
      input {
        width: 40px;
        height: 40px;
        gap: 0px;
        border-radius: 999px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
      }
      .icon {
        width: 20.01px;
        height: 18.88px;
        color: rgba(100, 116, 139, 1);
      }
    }
  }
}
