.bar {
  rotate: 36deg;
}
.move {
  margin-left: 5rem;
}
.cray2 {
  width: 7px;
  height: 73px;
  border-radius: 4px;
  background-color: rgba(34, 211, 238, 1);
}
.orange2 {
  width: 7px;
  height: 53px;
  border-radius: 4px;
  background-color: rgba(251, 146, 60, 1);
}
.violet2 {
  width: 7px;
  height: 83px;
  background-color: rgba(167, 139, 250, 1);
  border-radius: 4px;
}
.cray3 {
  width: 7px;
  height: 123px;
  border-radius: 4px;
  background-color: rgba(34, 211, 238, 1);
}
.orange3 {
  width: 7px;
  height: 83px;
  border-radius: 4px;
  background-color: rgba(251, 146, 60, 1);
}
.violet3 {
  width: 7px;
  height: 113px;
  border-radius: 4px;
  background-color: rgba(167, 139, 250, 1);
}
.cray4 {
  width: 7px;
  height: 103px;
  border-radius: 4px;
  background-color: rgba(34, 211, 238, 1);
}
.orange4 {
  width: 7px;
  height: 123px;
  border-radius: 4px;
  background-color: rgba(251, 146, 60, 1);
}
.violet4 {
  width: 7px;
  height: 73px;
  border-radius: 4px;
  background-color: rgba(167, 139, 250, 1);
}
.cray5 {
  width: 7px;
  height: 53px;
  border-radius: 4px;
  background-color: rgba(34, 211, 238, 1);
}
.orange5 {
  width: 7px;
  height: 93px;
  border-radius: 4px;
  background-color: rgba(251, 146, 60, 1);
}
.violet5 {
  width: 7px;
  height: 103px;
  border-radius: 4px;
  background-color: rgba(167, 139, 250, 1);
}
