@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  background: color-mix(in srgb, #000, transparent 90%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Manrope;
  color: #475569;
}
.navs {
  position: fixed;
  overflow: scroll;
  scroll-behavior: smooth;
}
::after {
  clip-path: polygon(0 10%, 0 30%, 80% 5%, 0 50%);
}
.navs::-webkit-scrollbar {
  display: none;
}
